

body {
  font-size: 18px;
  margin: 30px;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  padding: 50px;
  background: url(../images/texture2.jpg);

}
/*
.space{
  background: url(../images/white.jpg);
  background-size: cover;
}
*/
a {
  font-weight: bold;
}

span {
  font-size: 14px;
}

em {
  color: blue;
  font-style: italic;
  font-weight: bold;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}


h3 {

  margin-top: 30px;
}

h4 {

  margin-bottom: -10px;
}

p {
  margin-bottom: 10px;
}

ul {
  list-style: square;
}


hr {
  border: none;
  border-top: 1px solid #222222;
  margin: 30px 0;
}

img {
  margin-left: 20px;
  margin-bottom: 25px;
  border: 1px solid black;
  padding: 5px;
  text-align: center

}

#rob{
  float: right;
}

nav {
  text-align: center;
}
